h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #084ca1;
    padding-bottom: 1rem;
    border-bottom: 4px solid #084ca1;
    margin: 0;
}

.history-introduction p {
    font-size: 1.1rem;
    text-align: justify;
    margin: 1rem 0;
}